[2016-08-05 14:55] bleucitron opened #89 "Add util to check if a link exists between two cells"

[2016-08-11 08:19] bleucitron opened #91 "Rename Volatiles"
Volatile functions in Excel are functions that always trigger evaluation (see: http://www.decisionmodels.com/calcsecretsi.htm)

What we have called "volatiles" in our code is actually functions that output a reference to a cell, which is not the same.

For the sake of clarity, we need to rename what we call volatiles in our code.

[2016-08-17 07:24] bleucitron opened #92 "Check if Volatile Ranges are scanned during detect_alive()"

[2016-08-17 08:32] bleucitron opened #93 "Are Cells with indirect links correctly reset ?"
Cells with a formula that implies a volatile have indirect links to other cells.
On `set_value()`, are these Cells correctly reset ?

[2016-08-17 09:00] bleucitron opened #94 "Excellib functions don't accept names"

[2016-08-17 09:56] bleucitron commented on #93
It is confirmed that Cells with indirect links are not reset correctly.

One option to solve this is to blindly reset all volatiles (Range or not).
It doesn't seem to penalize too much reset timings, most probably thanks to the buffer.

[2016-08-17 15:55] bleucitron commented on #92
Volatile Ranges are indeed scanned during `Spreadsheet.detect_alive()`, but not all of them.

Those coming from Names are scanned, but there are duplicate Cells holding the `formula` as a `dict` rather than a `string`. These need to be removed for clarity's sake.

Those coming from formula are not, because their parent virtual `Cell` does not hold a formula `string`, but a formula `dict`, which th

[2016-08-18 13:37] #92 closed, assigned to bleucitron

[2016-08-18 13:37] #93 closed, assigned to bleucitron

[2016-08-18 13:41] bleucitron opened #96 "Use volatiles_to_remove more often"
This kind of pattern `(value == "INDEX" or value == "OFFSET")` is very frequent.
We should replace it by something like

[code]

[2016-08-19 06:57] bleucitron opened #97 "Ranges formulas are not modified with set_formula()"
`Ranges` objects hold an Excel formula, that is not updated on `Spreadsheet.set_formula()`.

In most cases, these formula are useless since we work with the `Range` children's formula. This would mean that we might even remove these formula from the `Ranges` virtual `Cell`.

But we have to pay attention to Volatile Ranges, because these might be the only case where these `Range` formula are useful

[2016-08-22 08:08] bleucitron opened #98 "Range logic operations"
When using for instance `A1:A3 > 3` as formula for Cell `C3`, the output is actually `A3 > 3`, because it uses `RangeCore.find_associated_cell()`, like for arithmetic operations.

In fact, in this case, Excel does: `one([A1, A2, A3] > 3)`.

[2016-08-23 09:39] SergeBredin opened #100 "Readme introduces MIT licence"

[2016-08-23 09:40] SergeBredin commented on #100
as MANIFEST.in

[2016-08-24 08:21] bleucitron opened #101 "Indirect links concerned by inputs are not correctly handled with reduced graphs"
When using reduced graph, if a cell with an indirect link (i.e output of a volatile) is modified by an input, this modification will not be taken into account at evaluation since the volatile has been cleaned at reduction.

The only method to have the correct evaluation is to use complete graph.

Is there a way to detect those cases ?

[2016-08-29 15:42] #100 closed, assigned to nobody

[2016-11-02 14:44] bleucitron commented on #91
Fixed by https://github.com/anthill/koala/commit/e897b96e25eae7c8881215bd308a69ef156dc974

[2016-11-02 14:44] #91 closed, assigned to bleucitron

[2016-11-06 18:02] infinity77 opened #103 "Transpose?"
Hi,

I'm using Koala2 for the first time on a rather simple Excel file (i.e., nothing with 45,000 formulae as mentioned in the PyCel site). However, it doesn't work, meaning I don't get the expected results after changing the inputs. The excel file contains a few TRANSPOSE calls that I naively implemented in excellib simply returning the original numeric values i.e., I don't do anything. But I gue

[2016-11-06 19:13] bleucitron commented on #103
Hello there !
We indeed didn't set up the library to use cases like TRANSPOSE yet.

I need a little more time to investigate, but it is most probable that your calculation is incorrect because the actual Excel TRANSPOSE function changes the cells pointed by the function. So if you don't point towards the correct cell, the result will be mechanically different.

I can't check right now, but i will

[2017-03-02 10:41] kurtdevos opened #104 "missing dependencies: networkx, numpy, openpyxl"
Some packages are missing from the dependencies

[code]
running `pip install networkx numpy openpyxl` solves the issue.

[2017-03-02 10:56] vallettea commented on #104
thanks for the contribution. We will add a `requirements.txt` very soon.

[2017-03-02 11:17] kurtdevos opened #105 "Manual installation is depending on installation folder"
When launching Koala from a different folder than the installation path, the 'functions.json' file cannot be found.

[code]

[2017-03-03 14:15] kurtdevos opened #106 "range of INDEX functions causes cell compilation error"
a formula like `SUM(INDEX(D1:F3,1,1):INDEX(D1:F3,1,3))` will trigger
[code]

Excel treats the output of index as a cell, not a value. In this case, the formula is equivalent of `=SUM(D1:F1)`

at least the "basic_evaluation.py" test is affected by this. Any idea's how to fix this ?

[2017-03-03 15:28] bleucitron opened #108 "Handle all strings as unicode by default"

[2017-03-03 15:30] bleucitron commented on #106
This is due to a stupid `unicode` versus `str` bug.
I fixed it, the PR should be merged soon.

[2017-03-06 09:31] #106 closed, assigned to nobody

[2017-05-08 21:13] nickdiorio opened #109 "What would it take to make this work with libreoffice as well?"
Hi, sorry if this has been asked before.  I assume since this is based on Pycel, it has the requirement of being run on Windows?  It would be great to be able to run from Linux, so I just wanted to check if there was any effort in this direction.

[2017-05-09 10:53] vallettea commented on #109
Hello,
no we are using koala mainly on osx and ubuntu

[2017-05-09 10:53] #109 closed, assigned to nobody

[2017-07-13 03:31] evcatalyst opened #110 "range not evaluating"
I'm unable to obtain values from a range after setting a cell value. When i execute evaluate directly with the cell reference, i get the value, when i ask to see value of values in a range, i get nothing.

there are multiple chained formulas - the formula in column BM is the following =BH65*$B65

why does the range function not allow evaluation, and if i then create a for loop that executes evalua

[2017-07-20 16:43] evcatalyst opened #111 "sumproduct"
sumproduct fields are evaluating as #NULL/0

reference example (contains index and named range references)

=SUMPRODUCT(INDEX(Table,S18,$P18):INDEX(Table,71,$P18),INDEX(DR,S18-$P18+1,1):INDEX(DR,71-$P18+1,1))

[2017-07-20 16:45] evcatalyst commented on #110
it works now - not sure what the issue was but this addresses, it, i may be overkilling the range definitions...

def getRange(scenario, var):
  values = []
  r_range = snp.Range(scenario)
  r_range.values
  snp.set_value(varCell, var)
  snp.set_value(var2Cell, 0)

  for cell in r_range.addresses:
      item = "'" + cell + "'"
      itemval = snp.evaluate(cell)
      values.append(itemval)

  r_ra

[2017-07-20 16:45] #110 closed, assigned to nobody

[2017-08-12 21:07] #111 closed, assigned to nobody

[2017-10-26 20:47] GliderGeek opened #113 "license difference between repo and pypi"
- repo states GNU GPL3
- PyPi (see `setup.py`) states MIT

[2017-10-26 21:00] GliderGeek opened #114 "setting namedcell does not work correctly"
sample code:
[code]

[template.xlsx](https://github.com/anthill/koala/files/1420037/template.xlsx)

[2017-10-26 21:54] GliderGeek opened #115 "support for python3"
would be great if this package would support python3
it seems that the dependencies are all python3 ready

[2017-10-27 05:43] vallettea commented on #115
Feel free to PR

Envoyé de mon iPhone

[2017-10-27 06:17] #104 closed, assigned to nobody

[2017-10-27 06:18] vallettea commented on #113
sorry it's a mistake the licence is GNU GPL3. I'll change it right away

[2017-10-27 06:18] #113 closed, assigned to nobody

[2017-10-27 06:24] vallettea commented on #114
I think this is because you generated teh graph while A1 is empty and thus the graph has only one node. Try to assign a value in your worksheet before generating the graph.

[2017-10-27 08:01] GliderGeek commented on #114
i don't think that is the case, because it does work when normal coordinates are used.
it would also be a lot nicer when the original graph can be re-used.
i think that i have found the problem in the code, will publish it here later

[2017-10-27 08:01] GliderGeek commented on #115
great, thanks btw for the quick action on the requirements merge 👍

[2017-10-27 08:02] GliderGeek commented on #108
this is required for python3 support right?

[2017-11-23 07:24] infinity77 opened #122 "Sum across worksheets?"
Hi,

I am handling yet another Excel spreadsheet and I naively thought I could use koala to do some calculations with it. However, koala complains (rightly I believe) with this error:

Pb with ref Sheet Start:Sheet End!N126 Invalid address format SHEET START

This is because the funny Excel workbook uses the feature of "summing across sheets", like this:

=SUM(Sheet1:Sheet3!A1)

Is there any way t

[2017-11-27 02:43] srp-synengco opened #123 "Get unit tests running & passing"
It'd be good to get the unit tests up to scratch on this  library

Currently when running `tox` pytest doesn't collect any tests (maybe an import error or something?)

So first things first is to get that going, then work on the tests that fail (maybe disabling some for now that are too far out of date)

Then would be good to add in some test to get a bit more coverage (even if they're pretty basi

[2017-11-27 06:34] srp-synengco commented on #105
pretty sure this is solved by #117 #118 and can be closed (tested with same steps and it now works on my machine)

[2017-11-27 07:50] vallettea commented on #123
I agree with you.
We were not very familiar with python testing when we worked on koala.
Travis is very fine. Tell me once you get some tests running so we can set it up.

[2017-11-27 07:50] #105 closed, assigned to nobody

[2017-11-27 07:52] srp-synengco commented on #123
Thanks :) will do

[2017-12-27 07:11] chinobing commented on #115
Thanks for the great work. waiting for the python 3 support

[2018-02-25 17:03] sada-narayanappa opened #126 "Cannot import"
Numerous errors in __Init__.py

Disappointed after spending an hour fighting with print statement

[2018-03-18 13:25] Alerq opened #127 "Running the package on python 3"
Please, write some understandable instruction on how to run the package for those who use python 3.
Sadly, as a beginner, I don't understand hints like "just use futurize".

Thank you a lot for your kindness and time!

[2018-04-10 17:37] abielr opened #128 "Incompatibility with networkx 2.1"
koala doesn't currently work with networkx 2.1, for example

`G.add_node(arg1,{'pos':1})`

should now be

`G.add_node(arg1, pos=1)`

[2018-04-27 08:47] Brad-eki commented on #115
I have run the tests for commit c8316fa from jricardo27 in Python 2.7, 3.4, 3.5 and 3.6 (https://github.com/anthill/koala/tree/c8316fa87b9c21b6c0e956438c18894d08fdf792).

There are a couple of changes required, however I was running a later version of networkx.

In netwokrx, signatures and return datatypes have changed on DiGraph add_node, successors and successors_iter.  This mainly affects ast/*

[2018-04-27 08:59] vallettea commented on #115
it is an omission.
Waiting for you commit, thanks for the work.

[2018-04-29 12:29] Brad-eki commented on #115
how do we get pypi.org to take on 0.0.18?

[2018-04-29 14:50] vallettea commented on #115
Sorry i forgot to push. I’ll do it wednesday

Envoyé de mon iPhone

[2018-04-29 15:03] vallettea commented on #115
Had some time, just did it.

[2018-04-30 00:34] Brad-eki commented on #115
Fantastic. Thanks vallettea. Much appreciated.

[2018-04-30 05:18] ulternate commented on #127
The master branch looks to be Python 3 compatible, as the code was updated using `futurize` already and that was merged in PR #125. The issue is that the package on PyPI hasn't been updated yet.

I'm doing the following to grab the latest code from the master branch (in my `requirements.txt` file for `pip install -r requirements.txt`):
[code]

[2018-04-30 05:23] Brad-eki commented on #127
ulternate, the latest version (0.0.18) is now Python 3 ready and tests are successful in Python 2.7, 3.4, 3.5 and 3.6. It includes support for networkx 2.1.

The latest version was pushed to PyPI was updated a few hours ago by vallettea. I was able to pip install koala2 and get 0.0.18.

[2018-04-30 06:15] ulternate commented on #127
Cool, must have been recently updated. I looked this morning and saw PyPI still showing 0.0.17 as the latest. Cheers.

[2018-05-07 08:45] mkpathcreate opened #130 "Basic.py throws a TypeError"
When I run the examples/basic.py it shows a TypeError.

user@webserver: python3 examples/basic.py

./examples/basic.xlsx
___### Initializing Excel Compiler ###___
___### Reading Cells from XLSX ###___
Nb of different functions 0
set()
___### Generating Graph ###___
Seeds 66 cells
Graph construction done, 86 nodes, 74 edges, 86 cellmap entries
Serializing to disk...
Traceback (most recent call last

[2018-05-09 07:50] vallettea commented on #130
It works fine under python 2.7 so I guess it is related to python 3. I'm not familiar to python 3 but maybe @jricardo27 or @Brad-eki can help.

[2018-05-09 13:00] jricardo27 commented on #130
In Python 2 byte strings and text strings are the same unlike Python 3 where they are clearly differentiated.

Change line 58 in `koala/serializer.py` from:
[code]

to:
[code]

That should be a quick fix, a better solution is to refactor the code and stop mixing unicode, text strings and bytes. Apologies if I don't offer to do it.

The long explanation is that `outfile` is open as a binary file an

[2018-05-09 23:58] Brad-eki commented on #130
Hi Guys,

In Python 3 strings are natively UTF-8 so attempting to consciously encode them to UTF-8 in Python 3 causes problems. To state the obvious, in Python 2 strings are not UTF-8 encoded.

Due to this bug report it appears I may have introduced a regression, made an inadequate fix or may have missed something in the excitement to support Python 3.

We may well reap great benefit from a re-fac

[2018-05-10 00:29] Brad-eki commented on #130
I have re-created the exception. Having a _very_ quick look, the tests don't cover the serializer dump method which is where the bug is being triggered.

[2018-05-10 06:47] mkpathcreate commented on #130
We fixed the str to bytes issue by converting it. Now basic.py and advance.py works in 3.5, but might not work in 2.x.

https://github.com/mkpathcreate/koala/commit/641e4cf44e30fccbf3374d41005065be18bbf03d

[2018-05-11 01:31] Brad-eki commented on #130
I've run your fix in 2.7 and 3.6. Basic.py is working. Advanced.py is breaking for me. It's an issue with netowrkx 2.1 upgrade that I have missed... Spreadsheet.py still has a couple of graph.predecessors_iter() calls.

Lesson learned: Run the tests and all examples for a more comprehensive exercise of the code. Apologies for the half job.

Traceback (most recent call last):
  File "examples/advan

[2018-05-11 04:32] mkpathcreate commented on #130
Yes we had changed predecessors_iter to predecessors.
Sorry forgot to mention it in previous post.

https://github.com/mkpathcreate/koala/commit/b9c85af1f829252eb9dbc9894f4680ff850d6174

[2018-05-11 05:01] Brad-eki commented on #130
I have taken the zip version b9c85af from mkpathcreate and successfully executed all tests and run both Basic and Advanced examples in Python 2.7, 3.4, 3.5 and 3.6.

Thanks mkpathcreate

[2018-05-12 07:15] vallettea commented on #130
@mkpathcreate could you make a PR with the working version so we can close this issue ?
thanks

[2018-05-14 00:47] Brad-eki commented on #130
Would I be committing a faux pas if I were to prepare a pull request with changes from mkpathcreate?

[2018-05-14 05:38] vallettea commented on #130
Not at all!

Envoyé de mon iPhone

[2018-05-14 10:49] Brad-eki commented on #130
mkpathcreate, thanks mate. I really appreciate the fixes (and so do my co-workers).

My contribution to Koala was the first I've made to an open source project, let alone using github. It's all pretty foreign.

Cheers.

[2018-05-14 11:01] #130 closed, assigned to nobody

[2018-05-14 11:02] #128 closed, assigned to nobody

[2018-05-14 11:03] #127 closed, assigned to nobody

[2018-05-14 11:03] #123 closed, assigned to nobody

[2018-05-14 11:03] #126 closed, assigned to nobody

[2018-05-14 16:36] vallettea opened #132 "Tell us what you use koala for."
hello,
I'm one of the core contributors of koala (enabling fast excel calculations in python). I wanted to know if we should push some more on the project. As an open  source library, it is nice to have a little feedback from the small but growing community of users.

@mkpathcreate, @Brad-eki, @kuzaxak, @enalpha, @ak2k, @JeffStahler, @srp-synengco, @GliderGeek, @ulternate, @Auhill, @flacomenoide,

[2018-05-15 00:00] Brad-eki commented on #132
- did you manage to use the library for your own spreadsheet ?
We have used the library to read our spreadsheet and calculate results.

- if yes, was it a game changer for speed, automation, parallelization or what ?
The game changer was automation.

- do you use koala on side projects or for your work ?
We are using it for work.

- if yes, can you share your usecase ?
The use case is to automate

[2018-05-15 10:45] mkpathcreate commented on #132
did you manage to use the library for your own spreadsheet ?

We are testing this for our use case.

if yes, was it a game changer for speed, automation, parallelization or what ?

Not yet, we are started on something similar, but found Koala and started testing it. If this works, we will continue on this and contribute where ever applicable. We where on plans to update pycel since it had become o

[2018-05-17 04:54] ulternate commented on #132
- did you manage to use the library for your own spreadsheet ?
  Yes, to calculate required cells.

- if yes, was it a game changer for speed, automation, parallelization or what ?
  Automation, many calculations had to be run from a worksheet that couldn't easily be converted due to many dependencies.

- do you use koala on side projects or for your work ?
  For work.

- if yes, can you share you

[2018-08-09 13:26] stonor opened #134 "Add support for ROUNDDOWN"
Thanks for a great package. I'm trying to get af POC op and running, but my spreadsheet has a few functions that are not covered by Koala yet. One is ROUNDDOWN. Could be great to add it.

[2018-08-09 13:27] stonor opened #135 "Add support for CONCATENATE / CONCAT"
Could be great with support for the CONCATENATE function.

[2018-08-14 09:36] vallettea commented on #134
Happy to hear that it is useful for you.
Unfortunately we don't have time to develop specific functions these days.
If you have time to give it a try and send a pull request, i will guide you. It's not complicated at all.
Best,

[2018-08-14 09:36] #134 closed, assigned to nobody

[2018-08-21 22:40] zuurw opened #138 "Logo design"
Hi , my name is Zuur W. I'm a graphic designer and I'd like to collaborate on your open source project and propose free logo/icon design for your project. If it's something you're interested in, please, let me know!
Best Regards
Zuur

[2018-08-22 07:23] vallettea commented on #138
Hello, if is as a free contribution, it would be with great pleasure !

[2018-08-22 07:23] #138 closed, assigned to nobody

[2018-09-06 01:07] musshorn opened #139 "Multiline Formula fail to parse"
Attempt to parse the following code with

[code]

[bug.xlsx](https://github.com/anthill/koala/files/2355073/bug.xlsx)

Results in
`SyntaxError: EOL while scanning string literal`

I think this can be fixed by updating [this line](https://github.com/anthill/koala/blob/master/koala/reader.py#L209) to also handle newline chars, or perhaps refactoring it into a general cleaning function in case other

[2018-09-06 06:03] vallettea commented on #139
You have to save it as xls and try again

Envoyé de mon iPhone

[2018-09-06 06:32] musshorn commented on #139
That seems to produce a different error?

[code]

[2018-09-06 06:54] vallettea commented on #139
It's definitely a file format error. Ensure that your Excel file is recent and in standalone mode (open it with Excel and save, it should rewrite the file and the resulting file should be three of four times heavier).

[2018-09-06 07:43] musshorn commented on #139
Reproduced it again on a different computer with a fresh install of Koala.
I made a new workbook and put the formula
[code]
in A1, saved it in Excel ( This was the resulting file [test.xlsx](https://github.com/anthill/koala/files/2356003/test.xlsx)) then ran the script. The file was saved with Excel 2016 version 1807 on Windows 10 x64.

Here's the full error

[code]

[2018-09-07 14:26] vallettea commented on #139
Sorry, I really don't have time to check this at te moment.

[2018-09-23 17:45] ranedk commented on #135
I was able to get the concatenate to work. Added the concatenate function to koala/excellib.py
[code]
Also added "CONCATENATE" to IND_FUN list. I don't know for sure if that's the right way to do it and if I need to check args with some validation.

[2018-09-27 07:45] vallettea commented on #135
Thanks for your effort! You should see if tests are passing, add a little test yourself and do a pull request.

[2018-09-28 19:45] ntropy-esa opened #142 "Support of arrays operations (MMULT, INVERSE, TRANSPOSE with Ctrl+Shift+Enter)"
Salut,
I discovered Pycel a few days ago, and tried (and failed) to add Excel array functions for it. (primarly MMULT, but also TRANSPOSE, and ideally INVERSE).

In my Excel files, I have a few matrix operations that I either enter using Ctrl+Shift+Enter (array formula in curly brackets https://support.office.com/en-us/article/guidelines-and-examples-of-array-formulas-7d94a64e-3ff3-4686-9372-ecfd5

[2018-10-01 07:41] vallettea commented on #142
Hello, thanks for your interest.
I think (but i'm not compeltely sure since this part wasn't coded by me and it was quite some time ago) that there are already cells referecing arrays in koala.
However, we have no time to implement other function.

All the recent functions were implemented by the community. It's just a matter of having the time to dig in the code and make a pull request.

feel fre

[2018-10-01 09:23] vallettea commented on #142
@iOiurson just added some docs that could help you:
https://github.com/anthill/koala/blob/master/doc/index.md

[2018-10-02 13:44] ntropy-esa commented on #142
Merci! Very relevant.
I'll have a look at it and come up with a new version of MMULT when I have some time.

[2018-10-19 13:05] vmarunov opened #145 "NameError: global name 'RangeCore' is not defined"
If create Cell from dict then raising error:
[code]

[2018-10-23 12:25] altosz commented on #145
@vallettea this issue may be resolved due to the accepted PR

[2018-10-23 12:35] #145 closed, assigned to nobody

[2018-10-30 11:52] vmarunov opened #147 "Error updating range values after from_dict Spreadsheet creation."
Excel book:
A1 = 1
A2 = 2
A3 = SUM(A1:A2)

[code]
Output:
[code]

Expected:
[code]

[2018-11-01 06:51] vmarunov commented on #147
fixed

[2018-11-01 06:51] #147 closed, assigned to nobody

[2018-11-01 06:57] vmarunov opened #149 "Error on compile excel book with non argument functions"
Hi.

If excel workbook contains non-argument functions (e.g. PI()), then exception raised on compile this workbook:

[code]

[2018-11-01 19:08] camrail opened #150 "RecursionError: maximum recursion depth exceeded"
Hi all,

Apols in advance as this is probably something I am doing wrong rather than an issue, but any guidance would be much appreciated.

Everything was working running fine until I expanded the size of the worksheet to 500 rows.  Not sure if this is a red herring as I probably changed some other things at the same time.  However I am now getting a recursion error.

Its strange because it seems

[2018-11-01 21:56] camrail commented on #150
My bad as suspected, sorry about that and thanks for the plugin.

For anyone else coming this way, just increase your recursion limit:

[code]

[2018-11-01 21:56] #150 closed, assigned to nobody

[2018-12-18 20:00] JamesdeanP opened #151 "Macros?"
Hi,
Is there a way to access any excel macros (and evaluate) or are they not written into the graph?  I dumped the cellmap to a file, but I couldn't find the macro.

Thanks in advance,

Jim

[2018-12-19 13:51] vallettea commented on #151
hello, no for the moment the macro are not taken into consideration.

[2018-12-19 13:51] #151 closed, assigned to nobody

[2019-01-10 04:09] 8998663 opened #152 "not support col:col formate"
I have a complicated excel. It  included  col:col formate.
 Program print:
 Pb with ref finance!27:27 Invalid address format 27
Pb with ref finance!442:442 Invalid address format 442
Pb with ref finance!421:421 Invalid address format 421

exception this error:
networkx.exception.NetworkXError: The node NOW is not in the digraph.

How kan I fix it ?

[2019-01-10 08:12] vallettea commented on #152
the col:col is not implemented and I personally have no time to do it, so I guess you'll need to put your hands in the code ;)

[2019-02-10 19:11] aodhan-domhnaill opened #155 "Pulling functions from Libreoffice"
I noticed that there are a lot of function implementations missing here. Has any thought been put into pulling them from Libreoffice source? Perhaps finding a way to interface with the Libreoffice source as a dependency and strip out the functions we need.

Asking because I was interested in looking, but if someone has already done this, I'd rather not waste time.

[2019-02-10 22:24] brianmay opened #156 "Performance issues"
Just need somewhere to record my data on performance issues. I think a issue might be the best place.

In my tests if I use:

[code]

I get the following times for 3 runs:

[code]

For the following:

[code]

I get the following times for 3 runs:

[code]

For the following:

[code]

I get the following times for three runs:

[code]

While none of these times are anything special, I find it weird t

[2019-02-12 00:01] aodhan-domhnaill commented on #155
For example `CONFIDENCE`,

[/formula/inc/core_resource.hrc](https://github.com/LibreOffice/core/blob/c89a4996b82881988eb9cc1eeaf24e0d8f9e6dce/formula/inc/core_resource.hrc#L813) gives a list of all the functions and their opcodes.

You can cross reference the OP code at [/sc/source/core/data/funcdesc.cxx](https://github.com/LibreOffice/core/blob/492ea7e08571e466e37f870b7642a79df55c2e92/sc/source/c

[2019-02-16 20:32] aodhan-domhnaill opened #158 "Incorporate OpenOffice test suite"
OpenOffice has an extensive test suite. It would be nice to take advantage of it for this platform

[2019-02-27 00:36] delmonij opened #161 "Directions to add new function"
I'm trying to add support for a small excel plugin I use. It's invocation is like _XLL.FNX(). It seems like It would obey the same properties as currently implemented properties. Can you point me in the right direction about where I should go about trying to add this capability?

[2019-03-12 09:43] Korella opened #162 "Excel functions: mid"
It's [changed](https://github.com/dgorissen/pycel/blob/master/src/pycel/excellib.py).
And tests also doestn't cover some new conditions.
Probably there is more than one outdated realisation.

[2019-03-18 13:22] Brad-eki commented on #155
Hi @aidan-plenert-macdonald, I have been thinking about this for a while but from a slightly different perspective.

It is a bit of a problem not having all the formulas available and, yet, it is a lot of work to implement them. The work I do is essentially covered by the formulas supported by Koala, but I can accept this doesn't suit everyone.

There is a Java library called the Horrible SpreadSh

[2019-03-18 17:07] aodhan-domhnaill commented on #155
Poi looks good. My reasoning behind Libreoffice is that their code base is OpenCL, so there is potential to be GPU supported, which seems to fall in line with the goal of Koala to generate high performance compute kernels for Excel macros.

That said, Poi is much cleaner than Libreoffice, so I imagine that would be [easier to work with](https://wiki.python.org/jython/PoiExample).

Perhaps a thin l

[2019-03-19 01:10] Brad-eki commented on #155
Support for Spark would be sweet. I also like the idea of GPU support. They address different scales of data analysis and processing.

There are two dimensions on this... "command"/formula coverage and calculation efficiency. Many of the use cases that need broad support for the formulae like financial applications may not need blinding calculation speed. But the more focused scientific and engine

[2019-03-21 08:47] Brad-eki opened #163 "Metadata with DiGraph"
I have started using Koala in a way where I parse a workbook and use the DiGraph from another spreadsheet.

I think I have found a need to transfer metadata along with the DiGraph model so I can have a computer determine which cell does what and inform a user.

Has there been any consideration to use Excel cell comments to contain mark-up (or mark-down) which can be used to transfer metadata about

[2019-03-23 01:16] Brad-eki commented on #139
Can confirm @snipplets error message on his test.xlsx

I have saved his example file to be an Excel 97 - 2003 .xls and it does indeed grow in size, from 8KB to 25KB.

When I try again the following error is generated.
[code]

I'm interested in learning how the cell parsing works so I'll use this to learn.

[2019-03-23 02:38] Brad-eki commented on #139
So, in Koala/openpyxl/formula/tokenizer.py there is a function parse_whitespace(). It only addresses space characters.
[code]
In the current repo for the official project openpyxl/formula/tokenizer._parse_whitespace() we can see it manages newlines.

[code]
There are  a bunch more changes as the official openpyxl has changed the paradigm for tokenizing and have comprehensively supported newlines i

[2019-03-23 03:23] Brad-eki commented on #139
Having a broader look at things, we don't seem to use the openpyxl tokenizer in Koala. It's there because we use openpyxl.formula.translate.Translator()

[2019-03-23 03:26] Brad-eki commented on #139
I have modified the Koala tokenizer.py to be tolerant of "\n". Will put for ward a PR shortly.

[2019-03-23 04:30] Brad-eki commented on #163
So, named cells appears to be the thing I'm looking for. It appears as though named cells (through ranges) has been considered.

[2019-03-23 06:30] Brad-eki commented on #139
first attempt: commit e9961de

[2019-03-23 06:31] #163 closed, assigned to nobody

[2019-03-23 06:43] Brad-eki commented on #115
@vallettea I'm sure we can close this one :D

[2019-03-23 06:45] Brad-eki commented on #139
I got too excited with cleaning up... this commit has passed the automated testing: fc1a5c8

[2019-03-25 08:50] #115 closed, assigned to nobody

[2019-03-26 11:26] Brad-eki commented on #162
How has it changed?

[2019-03-26 11:33] Brad-eki commented on #139
Hi @snipplets, This should be supported now. If this is still important to you, it would be great to hear how it is fixed, or how it need more work.

Cheers

[2019-03-26 11:41] Brad-eki opened #169 "User Defined Function (UDF) support"
Has anyone put thought or effort into having Koala support user defined functions (UDF)?

[2019-03-27 06:38] vallettea commented on #169
No

Envoyé de mon iPhone

[2019-03-27 13:30] Brad-eki commented on #169
I think I can see a pathway for this.

Recently I have been using Koala in conjunction with a product called xlwings. The combination is extraordinarily powerful in sci/eng data analysis and modelling work.

If you don't know, xlwings is an Excel plugin that manages the COM layer between Excel and Python and has bridged the gap between Pandas+NumPy objects and Excel. There are many other features,

[2019-03-27 13:48] Korella commented on #162
@Brad-eki
`return str(text)[start_num:start_num + int(num_chars)]`
**start_num + int(num_chars)** is kinda significant

[2019-03-28 00:02] Brad-eki commented on #162
Would you be able to explain to me how it might be fixed? (please assume I know nothing about it)

[2019-04-03 00:27] Brad-eki commented on #162
@Korella, after some investigation I can agree the mid function does not behave the same as Excel. In terms of Koala, it appears as though this has been the case since the beginning. The PyCel code looks to have been updated with something similar to the solution you've put forward here.

I can't find a pull request which offers the code you have suggested:
[code]
Would you like to have a go at ma

[2019-04-03 08:16] Brad-eki commented on #132
Hi @vallettea, did this come to anything?

[2019-04-03 08:17] Brad-eki commented on #114
I have been using named cells and they appear to be working properly.

has this been fixed?

[2019-04-03 17:05] vallettea commented on #132
it came that we did not pursued the project haha !

[2019-04-03 17:06] vallettea commented on #132
but i guess there is quite some interest now. anyway we're doing other stuff now

[2019-04-04 00:12] Brad-eki commented on #132
Fair enough.

Maybe on the next opportunity... :D

[2019-04-04 01:12] Brad-eki commented on #132
To further the use case:

I work in the renewable energy industry. As stated before we have been using Koala with Excel to integrate financial models with technical models and have recently started using Koala in conjunction with xlwings to develop tools for technical model development. The pairing of Koala and xlwings is incredible.

I have recently found PyCel's connection with PyXll. I think I

[2019-04-05 05:58] Brad-eki opened #173 "Spaces in tab names"
Errors on processing a tab called 'Data Filters', Koala thinks it's called 'DataFilters'!C4.

When I use an underscore the problem goes away.

I might be able to get to the bottom of this, but I'll have to come back later...

[code]

[2019-04-08 08:11] Brad-eki commented on #162
The behavior of MID has been changed to (start, offset) instead of (start_index, end_index)

[2019-04-08 08:11] #162 closed, assigned to nobody

[2019-04-12 16:15] danielsjf opened #179 "What is the use of the associated cells"
I'm trying to debug an issue with row ranges (e.g. Sheet1!5:5). The problem is that some of them get reference cells and others don't. When they get a reference cell, the evaluation function returns only this reference cell which is obviously a very different solution from the range.

Would it be possible to explain what this is used for?

My issue might be related to #40 as it's more likely to ru

[2019-04-14 02:20] brianmay commented on #179
Unfortunately, my understanding of this particular piece of code is rather weak. As in I have no idea what it does. Still trying to understand what a reference cell is, and why some cells get them and others don't.

[2019-04-14 22:44] Brad-eki commented on #135
CONCAT and CONCATENATE are now supported.

[2019-04-14 22:44] #135 closed, assigned to nobody

[2019-04-14 22:46] Brad-eki commented on #152
#171 has been merged so looks like col:col is now supported.

[2019-04-14 22:46] #152 closed, assigned to nobody

[2019-04-14 22:47] #139 closed, assigned to nobody

[2019-04-16 14:20] danielsjf commented on #179
I still have no clue what it does exactly, but it seems that adding the empty cells to the ranges solves this issue.

[2019-04-16 14:20] #179 closed, assigned to nobody

[2019-04-17 11:25] danielsjf commented on #161
All the excel functions are in this file:
https://github.com/anthill/koala/blob/master/koala/excellib.py

Adding a new function is as simple as creating a new Python function there. It should obey the following standards:
* Have the same name as the excel function (albeit lowercase).
* Have the same number of arguments as the excel function. The names of the arguments are not important, but using

[2019-04-18 13:05] danielsjf opened #188 "Proposal to clean Spreadsheet class"
I have a proposal ready in pull request #187 to merge the ExcelCompiler and Spreadsheet class as originally proposed in #64. This passess all the existing tests and works fine on my more complicated excel sheets.

I would like to go one step further and structure the functions in the Spreadsheet class better. As a first step, I would like to rename all the functions that actually work on cells as

[2019-04-24 01:17] ZloiGremlin opened #192 "Function MID is incorrect"
Excel index char start from 1 in python index start is 0
Function of mid range is:
return text[start_num - 1 : start_num + num_chars - 1]

[2019-04-24 09:06] brianmay commented on #188
These changes seem to be fine with me. Yes, backward compatibility is probably important. We can remove these deprecated functions at a later date in a major release.

[2019-04-24 09:09] brianmay commented on #192
What version are you looking at? There have been some changes in master, so wondering if this problem might has already been fixed?

[2019-04-24 09:16] ZloiGremlin commented on #192
I am look to master.
Current version mid is
return text[start_num: start_num + num_chars]
https://github.com/anthill/koala/blob/master/koala/excellib.py#L711

[2019-04-24 09:45] brianmay commented on #192
@danielsjf Have you encountered this issue?

[2019-04-24 09:52] danielsjf commented on #192
@brianmay, as far as I know, my test excel files aren't using these.

From looking at the test (only one is actually performed), it actually looks like there is an issue (test might be wrong).
https://github.com/anthill/koala/blob/08b053a570bb3f52378464824dd31d281affa6d5/tests/excel/test_functions.py#L458

[2019-04-25 01:53] #192 closed, assigned to nobody

[2019-04-25 02:06] brianmay opened #197 "Deprecate Python 2.7 support"
Thinking we should deprecate Python 2.7 support, and maybe remove Python 2.7 in the next major release. In the unlikely event anybody needs Python 2.7 support, please let us know.

@danielsjf what do you think?

[2019-04-25 06:25] danielsjf commented on #197
I agree. I keep on hitting 2.7 specific bugs. Solved one Unicode issue, only to stumble upon a numpy issue (which also doesn't do any new 2.7 features anymore) in another pull request.

[2019-04-25 08:07] danielsjf commented on #197
How I see it, we should just remove the Python 2.7 version from tox and potentially replace it by 3.7.

We can still allow pull request from people if they would like to create backwards compatibility, but at least we won't do it by default.

[2019-04-26 18:00] ZloiGremlin opened #200 "Problem Evaling"
Error in evaluate cell

For example: A1 formula =Sheet2!B1
Sheet2!B1 is empty

g.evaluate('A1') error
Problem evalling: 'original' for ...

[2019-04-26 18:53] ZloiGremlin commented on #200
It is happened after last commits

[2019-04-30 09:29] Korella opened #202 "yearfrac leap years"
case: `yearfrac(45658, 45292, 1)`
expect: `1` (45658 days represents 2024 years and 45292 days represents 2025 years, so 2025-2024=1)
gives me: `1.001367989`....
`1`  is not `1.001367989`....

[2019-04-30 14:54] xiejen opened #206 ""from koala.ExcelCompiler" throws importError"
The stacktrace is:
...
.6/site-packages/koala/reader.py", line 11, in <module>
    from openpyxl.xml.functions import iterparse, fromstring, safe_iterator
ImportError: cannot import name 'safe_iterator'

my Openpyxl is version 2.6.2

[2019-05-02 09:16] xiejen commented on #206
It needs openpyxl 2.5.6, not the latest.

[2019-05-02 22:19] brianmay commented on #197
Sorry, am falling behind on koala stuff :-(.

I would suggest:

1. Merge & fix all reasonable pull requests that work OK with Python 2.7. Any pull requests fair game (including ones that deprecate stuff), as long as we are reasonably confident there is no breakage.
2. Make a final 0.0.32 release.
3. If there is breakage, and somebody notices, and we think it is worth fixing, we release a 0.0.32+x

[2019-05-03 05:20] brianmay commented on #206
I think anything earlier then 2.6.0 should work fine, including 2.5.14.

It looks like 2.6.0 dropped the safe_iterator function which is:

[code]

[2019-05-03 05:32] brianmay commented on #206
I was debating filing a bug report against Openpyxl for dropping a function without documenting it in the changelog as being removed.

However, I can't find any reference to this function in the documentation for 2.5.14, so as a result, I suspect it was intended to be for internal use only.

Should be easy to fix by copying the above function into `koala/reader.py` I think.

[2019-05-03 07:00] danielsjf commented on #197
Seems good to me. How I read it, in practice this means just the open pull requests plus maybe some small hot fixes.

Or do we already release a non depricated release 0.0.32, then do a 0.0.33 with the deprications and finally a 1.0.0 for the Python 2.7 deprication.

[2019-05-12 02:41] brianmay commented on #197
Jef D <notifications@github.com> writes:

Either way is fine with me. I don't think it matters too much.
--
Brian May <brian@linuxpenguins.xyz>
https://linuxpenguins.xyz/brian/

[2019-05-12 16:13] vallettea commented on #197
"Or do we already release a non depricated release 0.0.32, then do a
 0.0.33 with the deprications and finally a 1.0.0 for the Python 2.7
 deprication."

looks good to me

[2019-05-12 21:45] danielsjf commented on #197
I guess the current version can be released then. Next week I can look into fixing the open pull requests for the next version.

[2019-05-13 08:08] vallettea commented on #197
I pushed to pipy but i add to updgrade to 0.33 because of some trouble with the description

[2019-05-13 08:08] #197 closed, assigned to nobody

[2019-05-15 08:03] #206 closed, assigned to nobody

[2019-05-15 09:01] danielsjf commented on #200
When I try to reproduce this, it evaluates to None. Is this not what you would expect?

[2019-05-15 11:38] danielsjf commented on #173
@Brad-eki, this pull request seems to solve your issue as described. Could you test it on your case?

[2019-05-15 11:41] danielsjf commented on #173
I also added a test which passes now. If your problem is more specific, could you add an example?

[2019-05-15 21:35] #202 closed, assigned to nobody

[2019-05-15 21:36] #173 closed, assigned to nobody

[2019-05-16 09:38] danielsjf commented on #188
This is done now.

[2019-05-16 09:43] danielsjf commented on #108
@brianmay, since Python 3 is supported fully and Python 2 will be depricated in the future, I guess we can close this issue.

[2019-05-16 12:19] vallettea commented on #108
yes, @danielsjf do you want to be member of the team ? It doesn't mean you can merge your own PR (a code review from others is still a good thing) but it will enable you to have more rights to close issues etc ?

[2019-05-16 12:19] #108 closed, assigned to nobody

[2019-05-16 12:49] danielsjf commented on #108
@vallettea yes sure!

[2019-06-18 13:03] danielsjf commented on #200
This can be reopened if there is a reproducible example and a description of the expected behaviour.

[2019-06-18 13:03] #200 closed, assigned to nobody

[2019-06-18 20:04] danielsjf commented on #156
@brianmay, could you have another look at this performance after the latest fixes in #213? This could drastically improve your results.

[2019-07-16 13:42] Brad-eki opened #214 "gen_graph no longer returns a new instance of Spreadsheet"
Hi Everyone,

I have been integrating koala with other libraries and over the last couple of months I've been AFK. There has been a few big changes to koala in that time. Great to see, but we appear to have broken some things.

I am trying to call gen_graph() in the "Advanced" use case, eg; after an initial graph has already been generated.

In the "olden days" gen_graph() would return a new insta

[2019-07-16 13:43] #169 closed, assigned to nobody

[2019-07-16 14:12] Brad-eki commented on #188
Hi Guys,

Apologies for being absent.

I have found an error in the logic for this refactor which has created a bug. That said, I support this change.

Currently gen_graph is not functionally backwards compatible. It used to return a new instance of Spreadsheet and now only modifies self which is causing problems with the expected, and documented, use case for the gen_graph method. #214

[2019-07-16 17:05] danielsjf commented on #214
@brad-eki yes I have introduced this change and I have probably caused this bug. I wasn't aware of this use case and I apologise for the inconvenience caused. I only monitored the checks and therefore it would be good to add a new test for this as well to avoid changes in the future.

[2019-07-17 01:02] Brad-eki commented on #214
Hi @danielsjf,

I have followed the commits around and this change has come from a commit you've put forward.

The changes are from a place of good intent - I have found issue #188. I can also see this is part of the effort to clean up and move away from the dependence we had on openpyxl. Both are changes we desperately need to make.

In the move, however,this change has made a significant change

[2019-07-17 07:29] vallettea commented on #214
hello @Brad-eki ,

I understand your concerns and I apologize that our change did you wrong.
A quick fix could be to use the version you developped your solution on (you can always find them on pipy).

For the moment, koala is still in a sort of beta as I wanted to do a major refactor after we had created and successfully used this lib for a mission, but since i never i had time to do it, I could

[2019-07-17 12:02] Brad-eki commented on #214
Hi @vallettea, I'm not particularly upset about the change that has come through.

@danielsjf has done the right thing - he's been bold and made a strong change. And a change that Koala has needed.

I think I have the resources to put my hand up to be a dedicated maintainer. I'm currently between jobs, have finished up my other open source contributions, about to publish a solution that brings tog

[2019-07-17 12:49] vallettea commented on #214
@Brad-eki I just discussed with my former team that is not interested in koala anymore (hence the change in the ownership).
@Brad-eki you are a member and you can pull/push/merge anything so feel free to consider yourself as the maintainer of the repo.

You can make all the change that you think are necessary.
In the future, we might need to create so kind of organization dedicated to koala, but i

[2019-07-19 13:44] danielsjf opened #216 "Group requirements"
Requirements are in requirements.txt and setup. There are ways to merge both. Currently the two deviate which should never happen.

If I have some time I will address this in a pull request.

[2019-07-23 09:19] Brad-eki opened #218 "API Documentation"
Run some API documentation tools over the code so we have a browse-able and searchable reference.

[2019-07-23 09:23] Brad-eki commented on #218
I am adding sphinx documentation to the project. The API documentation tool I'm using is autodoc.

It will be really useful to refactor a lot of our code such that autodoc can read it and produce meaningful API documentation.

I currently have this assigned to me, but would anyone else be able to give me a hand?

[2019-07-23 09:30] Brad-eki commented on #218
Just figured out how to get sphinx autodoc to cover most of our code.

Doxygen might be better - it gives us the graphical maps of what goes where.

[2019-07-23 12:17] Brad-eki commented on #218
Doxygen (with Graphviz dot) is great.

Do we want this as part of the repo, or are you happy making it yourselves?

[2019-07-23 12:53] danielsjf commented on #218
So I guess we get something like [this](https://romanegloo.files.wordpress.com/2012/03/callgraph_mmap_region.png)? Are there any consequences if we use this (e.g. changes in existing documentation, how does it handle docstrings etc.)

[2019-07-24 04:10] Brad-eki commented on #218
We get something like that, yes. But next to signatures and attributes all mmapped (click-able links).

doxygen reads Python docstrings. If anything I'd encourage more use of docstrings.

Doesn't change existing doco. I am using it to get a visualization of what gets used where. It doesn't need to be a permanent feature as I think the sphinx/readthedocs autodoc stuff is easier to integrate with gi

[2019-07-24 05:20] Brad-eki commented on #218
I have created a branch called refactor and have pushed a copy of the doxygen generated documents for the API with navigable SVG images.

In docs_api/html there is an index.html

[2019-07-24 05:51] Brad-eki commented on #216
I have brought them into line.

[2019-07-24 05:51] #216 closed, assigned to Brad-eki

[2019-07-24 05:52] Brad-eki commented on #214
Thanks @vallettea.

[2019-07-24 05:52] #214 closed, assigned to nobody

[2019-07-25 06:06] Brad-eki opened #219 "Tests for utils.py"
In the refactor branch I have been adding tests for utils.py.

While adding tests I have been marking up with TODO comments. These comments are largely so I can come through later and address them.  There are some strong themes which might be better addressed by a single TODO at the top of the file and attempting a campaign to attack them. eg; logging, docstrings, expanding one or two letter varia

[2019-07-25 12:26] danielsjf commented on #219
@Brad-eki, I saw that some of your commits (in the refactoring branch) dropped a lot of tests. Was this on purpose and what was the reasoning? Will you at some point also do a pull request for all the changes because at the moment it is hard to check the commits one by one. I saw you have done a few commits straight in the master and since they were small that is fine. However, if you change large

[2019-07-25 12:30] danielsjf commented on #218
@Brad-eki, if it makes the documentation better, I'm always in favour. I'm therefore fine with including this in the general code.

[2019-07-25 12:31] danielsjf commented on #188
@Brad-eki, this should be solved with your latest commits and I will close the issue.

[2019-07-25 12:31] #188 closed, assigned to nobody

[2019-07-25 12:32] danielsjf commented on #219
It also seems that there is still something off with the latest test of the commits in the master. 2.7 fails (which we would deprecate anyways), but 3.6 fails as well.

[2019-07-26 05:11] Brad-eki commented on #219
@danielsjf thanks for the observations :D

The changes I have committed directly into master had been put up for PR a few times. Each time we had in-principle agreement, so I thought it was safe to put them straight in. I accept it wasn't an ideal approach. I do admit I've not put any direct effort into fixing the broken tests. From now on I'll be sure to only use PRs on master.

I guess I have st

[2019-07-27 22:41] danielsjf commented on #219
@brad-eki, you're doing a great job in moving Koala forward which is really appreciated. Indeed I've also come across this cell map. To me there is actually a deep duplication behind it. A lot of the logic is in the AST code and another large part of the code depends on the cellmap. Somehow I think we should actually merge these two to really make new developments for Koala easy. Very often issues

[2019-07-28 11:48] Brad-eki commented on #219
@danielsjf thanks :D

In my exploration which lead to PR #221 I've seen you doing a massive amount of work. It's great. And I'm learning a lot from you. Thanks.

I'm 100% on board with the concept that test coverage will assist the refactoring. I found while writing the tests for utils.py it becomes easy to identify which code is operating, which isn't and which could benefit from operating differ

[2019-08-01 16:10] stefanslangen opened #224 "math functions (sinus/radians etc.)"
Is it correct that some math functions are not supported yet if they occur in the Excel sheet (for example sinus, cosinus, radians etc.)?

I am getting the following error:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\koala\Spreadsheet.py", line 982, in cell_evaluate
    vv = eval(cell.compiled_expression)
  File "<string>", line 1, in <module>
NameError:

[2019-08-02 02:22] Brad-eki commented on #224
@stefanslangen, the functions supported are largely listed here;
https://github.com/vallettea/koala/blob/master/koala/functions.json

In case that list hasn't been updated I have done a search through the code to see if they have been implemented. I have found those functions are not yet implemented.

You are welcome to implement them if you like. There is code in this commit which might inspire y

[2019-08-15 04:52] bradbase opened #226 "Roll back merge of ExcelCompiler and Spreadsheet objects"
@danielsjf @brianmay, Do you mind if we roll back the merger of ExcelCompiler into Spreadsheet?

It's not possible for us to merge those objects while keeping existing functionality (which I rely upon) without a major re-write of Koala -- including major architecture changes -- all in one hit.

If you see that merger as imperative, please let me know.

[2019-08-16 10:42] eiso opened #227 "How to receive only value changed cells"
First of all, thank you for such a great open-source project.

I am looking at using Koala to be the backend for a web based spreadsheet.

Currently it is clear to me how I can use the graph to set values, formulas & to evaluate specific cells with formulas. However when I add a new formula, or change the value in a cell, I'd like to run Koala and know which cells output values have changed (eithe

[2019-08-16 12:09] eiso commented on #227
Regarding my second question, I found the answer in the code:
[code]

[2019-08-16 12:19] bradbase commented on #227
Hi @eiso,

It's great to hear about the uses people are finding for Koala.

From what I've seen while working with Koala, it isn't built for an event driven use case. That may not such a problem, even Excel needs a re-calc trigger. But I'm yet to see a useful way to trigger an event based on a change in a cell/node after an evaluate ("re-calc").

Does the detect_alive method help you at all?

Up u

[2019-08-16 12:32] bradbase commented on #227
I will draw your attention:

The use case of gen_graph with input and output arguments stopped working after version 0.0.31 due to a refactor which moved the functionality of ExcelCompiler into the Spreadsheet object.

There is a condition in Koala where an ExcelCompiler object will cause a "creation" pathway and a Spreadsheet object would cause an "update" pathway.

Having only the "update" pathw

[2019-08-16 12:40] bradbase commented on #227
Actually... scratch that.

I might be able to use an isinstance in the right spot....

Watch for a PR

[2019-08-16 14:58] bradbase commented on #227
From memory, I have also been able to print out the count of nodes in various circumstances and so can watch when things change in the graph.

eg; Graph loading done, 89 nodes, 173 edges, 89 cellmap entries

[2019-08-16 21:06] eiso commented on #227
Thank you so much @bradbase for a very extensive answer. I am going to familiarize myself with the library this weekend, and will also check out FlyingKoala (looks really cool)

Going to check this out and let you know

This is definitely relevant. For being an interactive spreadsheet, I might be able to get away with only updating visible cells at any moment. However the reverse is what I really

[2019-08-17 11:03] bradbase commented on #227
@eiso

No worries :D

I look forward to the infrastructure to do that. At the end of the day the dependencies are in a network graph so there is likely some existing methods in the network library which help traverse the DiGraph.

At one stage I was able to get something together which graphically depicted the DiGraph as generated by Koala. It was most interesting, but demonstrated the network of

[2019-08-17 11:10] eiso commented on #227
@bradbase anywhere I can write you on chat. Would love to share some thoughts live instead of async? My email is `contact [at] eiso - kant [dot] com`

[2019-08-20 19:05] eiso opened #232 "When there is no argument for a function, Koala exits."
I ran into the issue that if a function is not passed an argument, koala is unable to accept it. Please find a reproducible case below with the function `TODAY()` which exists in `excellib.py`.

Modify `example/basic.py` (line 24):

[code]

Output:

[code]

This can be bypassed by adding the following try/except on line 300 in `ast/astnodes.py`:

[code]

[2019-08-21 09:37] danielsjf commented on #232
@eiso, thanks a lot for reporting this. I think it is the same problem as #149. Your solution seems quite elegant and feel free to submit it as a PR. If all the other tests pass, this seems like a nice fix.

[2019-08-21 09:43] danielsjf commented on #226
@bradbase I have been absent for a while so I haven't had much time to look into your changes. I don't have a strong opinion on this to be honest. I did like the simplification, but if it breaks things it should be fixed. Concretely you propose to roll back #187, but it could be that this also impacts #189 and #191. I'm not sure the last two are fundamental to the roll back and so if possible I wo

[2019-08-21 09:56] danielsjf commented on #224
Listing the functions for future reference:
* COS
* COSH
* ACOS
* ACOSH
* IMCOS
* IMCOSH
* SIN
* SINH
* ASIN
* ASINH
* IMSIN
* IMSINH
* RADIANS

According to [this](https://support.office.com/en-us/article/excel-functions-alphabetical-b3944572-255d-4efb-bb96-c6d90033e188) list, there are 476 known and documented excel [functions](https://github.com/vallettea/koala/files/3524707/functions.xlsx) (ex

[2019-08-21 14:15] danielsjf commented on #232
I've seen that the `PI` functions solves it via `astnodes.py`: https://github.com/vallettea/koala/blob/62296bdc9e5f42dde6ff72dc436339c07b963b30/koala/ast/astnodes.py#L306

Maybe we should remove this code once you update the code. I like your generic approach better.

[2019-08-21 21:44] brianmay commented on #226
Unfortunately, I work for a consulting company, and I haven't had time to revisit this library in some time. I have no problem with rolling back, although there should be some sort of plan for for moving forward. Which we have not been good at keeping. Maybe:

1. Roll back this change.
2. Make a new release that is entirely backward compatible.
3. Drop Python 2.7 tests.
4. Redo this merger of Exce

[2019-08-28 18:39] elfmanp opened #235 "IF(A1=FALSE) treated same as IF(A1=0)"
I have a spreadsheet where I use the A1=FALSE statement.  There is a condition where A1 could equal 0 and the 'evaluate' function is seeing the 0 as a 'FALSE'.  Seems like a bug to me.

[2019-08-30 15:48] zi-l opened #237 "TypeError: expected string or bytes-like object"
**Info**
[code]
**code**
*Reading excel file*
[code]

**Issue**
[code]
Similar issue: [#130 ](https://github.com/vallettea/koala/issues/130)

[2019-08-31 03:20] zi-l commented on #237
The cause found. I need to write some data into excel file with `openpyxl`, which causing this error. I have to open excel file and save it manually to make it return to normal (refer to [readme](https://github.com/vallettea/koala#graph-generation)). However, if use `pycel` instead, everything is fine.

[2019-09-04 11:21] danielsjf commented on #237
@zi-l, thanks for reporting this issue. Yes indeed, this is actually a known limitation that sometimes happens. It is also mentioned in the readme: "If this step fails, ensure that your Excel file is recent and in standalone mode (open it with Excel and save, it should rewrite the file and the resulting file should be three of four times heavier)."

I will close this for now, but always feel free

[2019-09-04 11:22] #237 closed, assigned to nobody

[2019-09-04 11:24] danielsjf commented on #235
Indeed this is a bug. Thanks for reporting it.

[2019-09-04 12:14] danielsjf commented on #232
I would still like to add a test for this so I'll keep it open for the time being. I'm waiting for #231 to be merged. However, the functionality should work now.

[2019-09-04 12:18] danielsjf commented on #161
A full guidance will be included in the docs once #233 gets merged.

[2019-09-04 20:53] NSanjay opened #238 "save updated cell values as an excel file"
Hi

Apologies if this has been answered somewhere, but I went through the docs and couldn't find anything related to saving changes I make to a spreadsheet to a new ```.xlsx``` file. I understand that only the reading part has been borrowed from ```openpyxl```. But does koala allow me to do write changes to a new excel spreadsheet? If so, I wanted to know how

Here's the code I've tried so far:

[

[2019-10-18 01:40] brianmay opened #240 "networkx 2.4 breaks koala"
After updating to networkx 2.4, I noticed koala2 0.0.30 is broken:

[code]

If this is fixed in a later version, of koala, then do worry about it, just close. However I suspect it may not be.

[2019-10-29 08:32] stupy opened #241 "Cannot import name 'unicode' from 'openpyxl.compat'"
In the Koala Module koala\ast\__init__.py line 9 it;
``from openpyxl.compat import unicode``
The current version of openpyxl, openpyxl 3.0.0, does not have the module openpyxl.compat.unicode.

[2020-01-14 05:19] conradbez opened #242 "sp.set_value() not called properly on named cell"
[code]

Updated the test and fails on second execute. The `cell.set_value()` is not called correctly and needs a clause to check if cell is in `sp.named_ranges`

This is my first issue submit so let me know if anything is wrong.

[2020-01-22 20:14] ckp95 opened #245 "What is the difference between this and pycel?"
I'm looking for a Python library to help with reverse-engineering many complicated spreadsheets in my organization. I found this library, and also pycel. I'm not sure what the major differences are between the two. In the documentation for koala, it says that pycel

But this is no longer true, afaik it now uses openpyxl to read the file and implements the Excel functions natively (or a subset of t

[2020-01-23 00:54] SlavaKozlov commented on #241
I found the same issue with the following versions:

koala2=0.0.36
networkx=2.5

openpyxl.compat no longer supports the unicode type (aka Python 2 code).

The good thing is that in Python 3, the native str method is already unicode. Much of the code in koala that references unicode is mainly to switch between the two Python versions (is that correct?).

Now that Python 2 is no longer supported, it

[2020-01-23 01:00] SlavaKozlov commented on #238
I was looking for the same thing: save to an Excel file. I don't see this as supported in the code (v 0.0.36).

The generated gzip file from a dump has nothing to do with an Excel format. It is just the cell graph.

I agree it would be super useful to be able to save the changed graph back into Excel. Without this feature, it is almost impossible to troubleshoot issues in the original Excel code (

[2020-01-28 16:50] SlavaKozlov commented on #240
I got the same error in these versions:

koala2=0.0.36
networkx=2.5.

The local fix I put in is to upgrade to the networkx 2.1 interface (made obsolete in networkx 2.4) -- that is, change the _node_ to _nodes_.

That is, on line 45 of ast/astnodes.py

`args = sorted(args,key=lambda x: ast.node[x]['pos'])`

to

`args = sorted(args,key=lambda x: ast.nodes[x]['pos'])`

[2020-02-05 22:23] brianmay commented on #240
A pull request to fix this would be good :-)

If possible, a change that allows koala to continue working with networkx 2.4 preferred, as it means projects don't have to upgrade both packages at the same time.

[2020-02-19 20:25] SlavaKozlov opened #246 "References to "Range" method in Spreadsheet"
When executing `clean_pointer()` function on Spreadsheet object (in advanced.py example file), there is this error:

[code]

on line 442:

[code]

[2020-02-26 23:41] kmonson commented on #240
I'm working on a pull request for this and the old openpyxl version issue.

[2020-03-06 00:31] bradbase commented on #245
This project leveraged from PyCel to begin. The projects satisfied different needs.

PyCel was born to assist modelling in the aviation industry with a focus on visualization of the model. It is also the "engine" behind PyXll.
https://dirkgorissen.com/2011/10/19/pycel-compiling-excel-spreadsheets-to-python-and-making-pretty-pictures/

Koala was born as an experiment to see if using Python could be

[2020-03-06 01:04] bradbase opened #249 "Koala is getting increasingly difficult to manage -- re-write?"
Hi Everyone,

I have a vested interest in increasing Koala's maintainability. My project FlyingKoala relies on Koala and I am trying to start a business off the back of it. Some of changes to Koala in the last 12 months, which have helped move Kola forward, have removed features I rely upon and have made it very difficult to re-instate the features I need.

I am in a situation where I have been pu

[2020-03-06 01:27] bradbase commented on #249
The current example of use:

[code]

Current output (defined name "Hundred" is cell Eighth!B1):
[code]

[2020-03-06 01:39] bradbase commented on #249
Features I can see a pathway to support in the new approach:
- persisting different formats from the model (compressed/not compressed, GraphML, MS Excel, etc...)
- being able to evaluate ad-hoc formulas, so they don't have to be in Excel at all... eg: evaluator.evaluate_formula("=AVERAGE(Sheet1!A1:A5)")
- More simplified pathways to adding Excel function support

[2020-03-06 03:21] bradbase commented on #246
That broke in a version of Koala after 0.0.31.

The functionality from ExcelCompiler was moved into Spreadsheet in a reasonable (and desperately needed) attempt to clean up the code. That move, however, has caused feature regression. I've tried re-implementing the broken features in the new paradigm but after a number of months and getting nowhere I decided it's too hard for me.

I need Koala and

[2020-03-06 06:30] brianmay commented on #249
Bradley van Ree <notifications@github.com> writes:

I guess it depends on what you think should happen with existing
installs.

1. If you prefer people upgrade, then release this as a new major
version, increment the major version, and add instructions on what
changes are required to upgrade. Consider releasing alpha versions and
beta versions first as appropriate.

2. If you prefer people stay, t

[2020-03-06 11:49] bradbase commented on #249
Thanks for the input Brian.

In short, I'd be leaning toward something like "option 1" as you've described. But my needs and intentions for a Koala style solution appear to be different from others here which is why I'm asking the question.

It depends on how committed people are to the current use cases and what Koala is expected to become.

I think I have been observing a movement toward viewing

[2020-03-06 12:13] bradbase commented on #249
Equally... There's no reason why the AST interpreting the formulas needs to write Python code.

It can write any code you like. _BUT_ the code it writes _does_ need align with a Model object in the target language, the "Excellib" function library in the target language, and have a Evaluator object written in the target language.

[2020-03-08 18:04] vallettea commented on #249
hello @bradbase,

nice recap.
I see your point when you say "Excel workbooks as definitions of a calculation" and it is in fact a bit different of what koala was coded for. Koala was coded because we needed to do enormous amount of calculation from gigantic excel workbooks and we had no time to translate the models of these workbooks into a well written model.
From my point of view (of someone who

[2020-03-09 03:46] bradbase commented on #249
Hi @vallettea,

Thank you for your input. It is most appreciated. Hopefully my discussion here will answer questions from others as well.

My understanding of koala has come from the doco. The presentation, the abstract found on the anthill site and the other writing in the docs directory along side reading the code. Knowing the history, and having faced the same challenges, explains everything. A

[2020-03-09 04:05] bradbase commented on #249
Once the one-click installer is up, I'm will develop commercial solutions for companies to leverage FlyingKoala with PLPython and Python within MS products (eg; MSSQL Server and PowerBI).

[2020-03-11 13:16] bradbase commented on #249
For those following:

First order approximation of Range support using Dataframes as the unit for calculation in the "Excel_lib" functions (currently only SUM).

[code]

[2020-03-12 14:15] bradbase commented on #249
@vallettea and @brianmay and anyone lurking, the code I've written so far;

https://github.com/bradbase/koala_xlcalculator

It's not yet feature compatible with koala, but will need to be for it to be useful to anyone.

EDIT: koala_xlcalculator is now known as xlcalculator and can be found here:
https://github.com/bradbase/xlcalculator

[2020-03-19 08:58] vallettea commented on #249
Hello @bradbase
sorry i take years to answer but I running another company and I have no time for koala as people may have noticed ;)

I'm quite impressed by your work and I really think that there is an opportunity in this kind of product especially with someone like you who knows the internal needs of the sector.

I haven't had time to benchmark flyingkoala but i think that if is does what does

[2020-03-19 11:18] bradbase commented on #249
Hello @vallettea

No problem on timing. The world is in considerable turmoil at the moment and these projects are the least of anyone's worries. The time you've taken to respond is especially appreciated. (for posterity COVID-19 era)

Your feedback means a great deal. Thank you.

In case our timing doesn't align and to be a pedant: [FlyingKoala ](https://github.com/bradbase/flyingkoala) 0.0.3b is

[2020-03-20 09:48] bradbase commented on #249
For those lurking: I have just release FlyingKoala 0.0.4b0. It's got a bunch of bugfixes and changes to make the add-in optional and actually compatible with Koala2 0.0.31.

[2020-03-24 13:25] LFoglietti commented on #249
Hi Guys,
my start up wants to build an easy UI to make algotrading, not HF, easy to be implemented by investor with no coding skills.

We will start with  Cryptomarkets but the idea could be easily translated  for traditional markets.
Let s assume the all infrastructure is in place. We just need the rule from the investor:

Ex. Buy Bitcoin with USD if BTC price is Up 2% within 45 Min...then...

wh

[2020-03-25 00:02] bradbase commented on #249
@LFoglietti, Thank you for your support and validation.

I have a feeling the mechanics for the solution you are talking about may be encapsulated in [FlyingKoala](https://github.com/bradbase/flyingkoala) as it is a combination of two projects, [xlwings](https://github.com/xlwings/xlwings) and Koala2. The intent of FlyingKoala is to enable people like your target market to put systems like this to

[2020-03-25 14:13] LFoglietti commented on #249
@bradbase,
[FlyingKoala](https://github.com/bradbase/flyingkoala) and [xlwings](https://github.com/xlwings/xlwings) might be very useful.

 I looked into your [worked example](https://flyingkoala.readthedocs.io/en/latest/worked_example_horticulture.html). Let's assume my analysis' result is:
IF  degreeday() is >= 10 AND previus degreeday() is <= 5 THEN True ->: open water.
I hard code this simple

[2020-03-26 00:39] bradbase commented on #249
@LFoglietti Thank you for the extension of the example.

I have used Koala2 <= 0.0.31 in the way you describe.

Using Koala2 version <= 0.0.31, or when feature compatible the re-write [koala_xlcalculator](https://github.com/bradbase/koala_xlcalculator), you can save the state. In Koala2 0.0.31 you can specify to "focus" on a particular output cell so the resulting state only relates to the cells i

[2020-03-26 10:52] LFoglietti commented on #249
@bradbase
Thank you for all your valuable information.
It' s clear you know a lot about this issue.
We both understand the need, in an  Object Oriented Programming world, of this functionality.

 I agree with you. In my opinion the problem can be divided in to:

1) Pyton Excel comunications : Get(data), Set(data), manipulate data mehods ( Ranges, CopyAndPast, Wiew/Graph ).

2) Excel formulas and l

[2020-03-26 15:27] bradbase commented on #249
@LFoglietti It is marvelous communicating with you. So few people understand these things at such a level. I will PM you with respect to this as I know I'm losing some detail.

As we have gone so deep I think it may be good to have some of this conversation in the open for those lurking. We are genuinely at the core.

I've had a cursory look at FlexCel user guide. It's currently late where I am an

[2020-03-26 20:05] LFoglietti commented on #249
In Flexcell there is also a tool for automatically showing needed Delphi/C++ code for generating specific .XLS/.XLSX file cells.

It reminds  the macro recorder in Excel. You upload a file and you get the C code to replicate it.

My considerations, so far, are that Python, at this stage, canNOT compete with other languages/Environment like C#.Net. as far as transforming Excel in to a "Python Math

[2020-03-27 02:01] bradbase commented on #249
@LFoglietti

Outside technology... My strength as a software developer is to promote to non-developers capabilities that they need but can't get access to without my skill. The more I empower non-developers the more value I am to them. I am of most value if I can facilitate them to empower themselves without need to come into direct contact with me.

The solution I'm championing is not solely addr

[2020-03-27 12:33] LFoglietti commented on #249
@bradbase ,
100% with you. Your project goes in the right direction.
it makes sense and there is a general need for it, outside my sector indeed.
I am supporting it as I can.

Having said that.
Do you really think I can replace a tool like Flexcell in my C# . Net architecture with one of the library you mentioned??
 [Formula](https://formulas.readthedocs.io/en/stable/index.html) is asking donation

[2020-03-29 00:04] bradbase opened #250 "Performance testing and benchmark"
Does anyone have some guidance or assistance on performance testing Koala or similar?

I can try and make up a spreadsheet that exercises Koala but it would be great to hear about any complex spreadsheets which could be used for performance testing in the open domain so we can potentially get a benchmark off the ground.

I also suspect there are may be sets of operations that others have found to

[2020-03-30 10:28] bradbase commented on #249
This is probably hijacking the intent of this thread. To find the answer it's a case of reading the documentation of each of the projects and seeing for yourself whether they align.

I've read the doco for FlexCel and am confused as to where it fits.

I'm happy to continue this conversation, but off-channel somewhere.

[2020-03-30 18:06] LFoglietti commented on #249
It was a very nice conversation and you are right: we are getting out of topic.
Let me end this post with a general question for everybody,  not only top skilled nerd,  who might be reading it.

Assuming I can manipualte Excel using another language ( C#, Java, Python...) we have 3 main scenarios for a simple worksheet where A1=5, A2=10 A3=Sum(A1:A2) =15

**1) Read & Write**
Python Writes A1=20.
E

[2020-03-31 01:48] bradbase commented on #249
Koala is striving for option 3 and, to large extent, already demonstrates the achievement of this goal. Will it continue to..? I expect so.

Python cannot really achieve options 1 or 2 as it's not possible to integrate the language at a deep enough level. Currently those options are faked using COM. In the future we are likely to be able to integrate at that level through the web based API (REST?)

[2020-03-31 09:28] LFoglietti commented on #249
I forgot to mention the following for Python.
For a better explanation of the problem you can see this excellent blog.
[Pycel: Compiling Excel spreadsheets to Python and making pretty pictures](https://dirkgorissen.com/2011/10/19/pycel-compiling-excel-spreadsheets-to-python-and-making-pretty-pictures/)
and the resoulting library:
[Pycel](https://github.com/dgorissen/pycel)
also look at
[Dirigibile

[2020-03-31 23:30] bradbase commented on #249
Koala is of PyCel.

https://github.com/vallettea/koala/blob/master/doc/presentation.md

https://github.com/vallettea/koala/blob/master/doc/index.md

https://weareants.fr/#!/koala-the-faster-excel

[2020-04-08 00:29] bradbase commented on #250
@brianmay You've been good at performance tuning of Koala, have you got an example spreadsheet which can be shared or a specific set of operations which you have been using Koala to increase performance?

[2020-04-08 21:00] brianmay commented on #250
Unfortunately this is not something I can help with. I work for a consultancy company, that works on proprietary code for clients, and I am now working on another project. :-(

[2020-04-09 10:47] bradbase commented on #250
@brianmay Thanks anyway.

[2020-04-21 15:23] mjozan opened #251 "not enough values to unpack koala/ast/__init__.py", line 397, in prepare_pointer"
Hello,

I try to test this library by feeding it a excel project but I got this error :

[code]

The `code` variable is `OFFSET([84]Base!C1,1,,COUNTA([84]Base!C:C)-1)`

Can somebody help me please? Thank you very much.

[2020-04-29 11:09] rdmolony opened #252 "AttributeError: 'Spreadsheet' object has no attribute 'Range'"
# The Issue

I've install the @kmonson forked version of this repo #248 which fixes issues #241 and #240 and unfortunately encountered the following bug when attempting to run example/advanced.py

[code]

I also tried implementing @kmonson suggestions in #241 and #240 myself on the @vallettea master branch to make sure that this issue isn't just in the forked repo.

---

Thanks for writing Koala2,

[2020-05-03 13:01] bradbase commented on #250
I have started a repo for performance testing Python Excel calculators.

Currently compares PyCel, Koala2 and my xlcalculator.

https://github.com/bradbase/Perfomance_testing_Python_Excel_calculators

[2020-05-03 13:14] bradbase commented on #249
@vallettea, @brianmay, @strichter, @kmonson and others,

I have written and now released xlcalculator. It is heavily based on Koala2 and is written for Python 3.
https://github.com/bradbase/xlcalculator

I have done a performance comparison between PyCel, Koala2 0.0.33 and xlcalculator. The performance scripts can be found in this repo.
https://github.com/bradbase/Perfomance_testing_Python_Excel_c

[2020-05-03 16:28] vallettea commented on #249
Congrats ! Looks awesome.

[2020-05-06 18:51] kmonson commented on #252
In several places in Spreadsheet.py `self.Range` should be `self.range`. I'm about to fix that in one of my branches, but a pull request is a ways off.

[2020-06-30 08:00] haowang0402 opened #254 "Using Koala to reduce the unnecessary sheets of excel file"
Dear authors of Koala,

I really appreciate your work of Koala to speed up the operations of Excel, and I think Koala could be a great help for my project, but I don't know exactly how I should do it. If you can offer some insights, that would be very helpful.

In a large Excel spreadsheet, there could be many intermediate sheets used for calculations, but we don't need it for presenting our final

[2020-07-03 15:41] ensemble-devices commented on #226
@danielsjf apologies for this very late comment, but I've just noticed that Spreadsheet object appears to have two methods called clean_pointer - its original, plus the one which may have been copied in from ExcelCompiler.

[2020-07-05 10:19] bradbase commented on #226
@ensemble-devices From memory there are a handful of "duplicate" methods (methods with the same name which appear to share the same intent). Some are in the same object, others are in different objects. Often they have similar implementations but are rarely exact copies.

I tried to clean things up and ended up starting a new project https://github.com/bradbase/xlcalculator

[2020-07-16 21:43] ghost opened #255 "Double negative/minus operator causes IndexError"
Formulae such as `--("A"="B")` cause `IndexError` in `koala/ast/__init__.py:build_ast` due to "double operator"
Workaround until fix: replace `--` with `1*` in workbook

Example minimum reproduction: [double_minus.xlsx](https://github.com/vallettea/koala/files/4934349/double_minus.xlsx)

[code]

[2020-07-24 09:16] todhunter opened #256 "Add support for SUBSTITUTE"
Could be great with support for the SUBSTITUTE function.
I was able to get the substitute to work by adding the substitute function to koala/excellib.py
<pre>
def substitute(*args):
    if tuple(flatten(args)) != args:
        return ExcelError('#VALUE', 'Could not process arguments %s' % (args))

    cat_string = str(args[0]).replace(str(args[1]), str(args[2]))

    return cat_string
</pre>

[2020-09-29 12:21] mjozan opened #257 "Attribute error: 'Spreadsheet' object has no attribute 'clean_pointers'"
Hello,

The libray is working well but when I try to clean pointers I have an error:

[code]

It says : Attribute error: 'Spreadsheet' object has no attribute 'clean_pointers'

[2020-11-27 15:54] victorjmarin commented on #255
The same issue is discussed here https://github.com/dgorissen/pycel/issues/105.

Setting unary negation to be 'right' associative instead of 'left' should fix the problem. https://github.com/vallettea/koala/blob/master/koala/tokenizer.py#L710

[2021-02-12 00:42] akash9182 commented on #122
Is there any update on this issue? Any update would be really helpful. Thanks!

[2021-06-17 16:13] xiejen opened #260 "AttributeError: 'DiGraph' object has no attribute 'node'"
I upgraded my python version from 3.6 to 3.7.  The code below throws error:

[code]

The error is:
[code]

I have the latest version:
[code]

[2021-11-10 05:54] aegis1980 commented on #260
Try (as temp fix):
[code]
then
[code]

Looking at Koala's `setup.py` file:
[code]

The current version on `networkx` is 2.6.3 so i guess something broke between 2.1 & 2.6.3, so....

[code]

[2022-06-10 16:49] charlesdwright commented on #249
@LFoglietti Has Tradestation the trade rule interface you're looking for?

[2022-06-10 19:44] charlesdwright commented on #238
Yeah, me too.